<!-- Validation failure messages -->
<% if @registration.errors.any? %>
  <% @registration.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Registration</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_registration" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @registration.user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for session_id -->
      <div class="form-group">
        <label for="session_id" class="control-label">
          Session
        </label>

        <%= select_tag(:session_id, options_from_collection_for_select(Session.all, :id, :created_at, @registration.session_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Registration
      </button>
      or
      <a href="/registrations">Cancel</a>
    </form>
  </div>
</div>
